<footer class="bg-dark text-center p-2">
    <p class="h5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates accusamus dolorum dolorem pariatur deserunt id incidunt voluptatibus enim, fuga exercitationem atque rerum quidem, expedita facilis voluptate temporibus quaerat aliquam saepe!
    Saepe repellendus molestiae architecto amet praesentium. Ullam vero ex, sint earum deserunt perspiciatis quo vel accusamus laborum veritatis esse quasi incidunt odio saepe iste est non consequuntur repellat? Quibusdam, nam?
    Temporibus eos itaque, nobis illo numquam et laudantium veniam recusandae, adipisci sed minus, suscipit fuga alias tempore deleniti assumenda atque modi accusamus doloribus. Aut cum perferendis obcaecati atque blanditiis laborum.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>