<footer>
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>consectetur adipisicing elit. Ab, aliquid quo soluta maiores animi ratione, a exercitationem cumque ducimus sit amet quae laboriosam id tempora perferendis officiis incidunt eius veniam?</p>
</footer>